# Python
__pycache__/
*.py[cod]

# Data
data/raw/
data/processed/
*.dcm
*.nii.gz
data/train/train_640geo
data/test/test_640geo
results/deeplesion_demo
results/deeplesion_multi
results/deeplesion_pretrained_model

# Models
models/*.pth
models/*.h5

# Logs
logs/
outputs/

# Environments
venv/
.env

# IDE
.idea/
.vscode/

astra-toolbox/
odl/
