# Python
__pycache__/
*.py[cod]

# Data
data/raw/
data/processed/
*.dcm
*.nii.gz
data/train/train_640geo
data/test/test_640geo
results/deeplesion_demo
results/deeplesion_multi
results/deeplesion_pretrained_model
dicdnet_clinical_results
dicdnet_clinical_results2000
dicdnet_clinical_results3500
dicdnet_clinical_results_radon
dicdnet_visualizations
dicdnet_visualizations_2000
dicdnet_visualizations_3500
dicdnet_visualizations_radon
save_results

# Models
models/*.pth
models/*.h5
models/*.pt
models_default_mask/
# Logs
logs/
outputs/

# Environments
venv/
.env

# IDE
.idea/
.vscode/

astra-toolbox/
odl/
